.timerContent{
	display: inline !important;
	font-weight: lighter;
}

.page-container{
	margin-top:30px;
	font-weight: lighter;
}

.bigTimer{
	font-size: 20px;
	margin-top: 30px;
	font-weight: lighter;
}

.smallTimer{
	font-size: 15px;
	margin-top: 50px;
	font-weight: lighter;
}

.mobileDivider{
	display: none
}

h1.timerContent{
	font-size: 75px;
}

.submitButton{
	margin-left: 10px;
	border: solid 1px;
}

.timeInput{
	margin-top: 15px
}

input{
	border:solid 2px;
}

hr{
	border:1px solid;
}

@media(max-width: 768px) {
	.timerContent{
		display: block;
		float: right;
		text-align: right;
		margin-right:20px;
	}
	.timerLabel{
		float: right;
		margin-right:20px;
	}
	.smallTimer{
		text-align: right	
	}
	.mobileDivider{
		display: block;
		clear:both;
	}
	.smallTimer{
		margin-top: 20px;
	}
	.page-container{
		text-align: center;
	}
	.submitButton{
		margin-left: 0px;
		margin-top: 10px
	}

	.timeInput{
		margin: 15px;
	}
}

@media (min-width: 780px) and (max-width: 992px){
	.page-container{
		text-align: center;
	}
	.smallTimer{
		margin-top: 50px;
	}
	.submitButton{
		margin-left: 10px;
	}
}